:root {
	/* COLORS */
	--text: #33475b;
	--cta: #1c64f6;
	--primary: #1e46f5;
	--secondary: #f9c446;

	--white: #ffffff;
	--black: #000000;

	/* FONTS */
	--head: {
		font-family: 'Raleway';
		font-weight: 700;
	}
	--medium: {
		font-family: 'Raleway';
		font-weight: 500;
	}
	--body: {
		font-family: 'Raleway';
		font-weight: 400;
	}
}

/* FONT CALL */
@font-face {
	font-family: 'Raleway';
	src: url('https://fonts.googleapis.com/css?family=Raleway:400,500,700');
}

/* CSS */
.App {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

i {
	cursor: pointer;
}

p {
	font-family: 'Lato', sans-serif;
}

h1 {
	font-family: 'Lato', sans-serif;
	margin-top: 130px;
	margin-left: 30px;
	margin-bottom: -190px;
	font-size: 30px;
	font-weight: bold;
}

.accent-quote {
	font-size: 100px;
}

.always-thursday {
	height: 100px;
	width: 490px;
	margin-top: -100px;
	margin-left: -12px;
	background-position: 50% 50%;
}

.plus {
	width: 100px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ffffff;
	color: black;
}

.user {
	width: 100px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ffffff;
	color: black;
}

.add-tab-header {
	text-align: center;
	background-color: #ecf0f1;
}

.add-tab-btn {
	background-color: var(--cta);
}

.cat-wrapper {
	display: flex;
	flex-wrap: wrap;
	margin-top: -100px;
	margin-bottom: -80px;
	padding-top: 200px;
	background-color: white;
}

.tabs {
	width: 350px;
	margin: 20px;
	box-shadow: 10px 11px 42px -1px rgba(0, 0, 0, 0.75);
	transition: box-shadow 2s;
}

.cap {
	display: flex;
	justify-content: space-between;
	background-color: #ecf0f1;
}

.title {
	font-family: 'Roboto Mono', monospace;
	font-size: 20px;
	font-weight: bold;
}

.fav {
	height: 30px;
	width: 30px;
	border-radius: 50%;
	z-index: 100;
}

.tabs p {
	margin-top: 10px;
	color: #000000;
}

.tab-icon-wrapper {
	display: flex;
	justify-content: space-around;
	background-color: #ecf0f1;
	padding: 20px;
}

.tab-icon-wrapper i {
	font-size: 30px;
}

.edit-header {
	background-color: #ecf0f1;
}

.edit-btn {
	background-color: var(--cta);
}

footer {
	width: 100%;
	height: 80px;
	display: flex;
	justify-content: center;
	margin-top: 80px;
	background-color: white;
	padding-top: 50px;
}

/* LOGIN LOGIN LOGIN */
.login-wrapper {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.login-div {
	width: 500px;
	height: 500px;
}
.login-form-wrapper {
	width: 100%;
	height: 1000px;
	display: flex;
	justify-content: center;
	background-position: 50% 50%;
}
.login-form {
	width: 400px;
	height: 500px;
	margin-top: 200px;
	box-shadow: 10px 11px 28px 0px rgba(0, 0, 0, 0.75);
	background-color: #ecf0f1;
	padding: 20px;
	z-index: 1;
}
.logo-tt {
	text-align: center;
}
.login-head-logo {
	height: 200px;
}
.login-input {
	text-align: center;
	height: 50px;
	margin-bottom: 10px;
	background-color: white;
	font-family: 'Raleway';
	font-weight: 500;
	color: var(--text);
}
.login-button-wrapper {
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
}
.login-form p {
	cursor: pointer;
}
.login-button-wrapper p {
	text-align: center;
	margin-top: 10px;
	margin-right: 10px;
	color: var(--text);
}
.login-button-wrapper p:hover {
	color: var(--cta);
}
.login-button {
	width: 360px;
	background-color: var(--cta);
	margin: 0 auto;
	font-family: 'Raleway';
	font-weight: 700;
	color: var(--white);
}
.login-button:hover {
	background-color: var(--text);
}

/* SIGNUP SIGNUP SIGNUP */
.modal-dialog {
	width: 400px;
}
.modal-content {
	height: 500px;
}
.signup-head-logo {
	height: 200px;
	margin-left: 90px;
}
.close {
	color: var(--cta);
}
.close:hover {
	color: var(--text);
}
.reg-btn {
	background-color: var(--cta);
	font-family: 'Raleway';
	font-weight: 700;
	color: var(--white);
}
.reg-btn:hover {
	color: var(--text);
	color: var(--white);
}

/* NAVBAR NAVBAR NAVBAR */
.lists-wrapper {
	width: 100%;
	height: 100vh;
}
.nav-bar {
	width: 100%;
	position: fixed;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background-color: transparent;
	/* box-shadow: -1px 6px 35px -1px rgba(0, 0, 0, 0.75); */
	font-size: 30px;
	z-index: 200;
}
.nav-bar i {
	margin-right: 10px;
	margin-left: 10px;
}
.list-nav-logo {
	height: 100px;
}
.plus {
	height: 100px;
	color: var(--cta);
}
.plus:hover {

}
.user {
	height: 100px;
	color: var(--cta);
}
/* .user:hover */